/* Header.css */
.traveling-header {
    font-weight: bold; 
    position: absolute; 
    animation: travel-around 20s infinite; 
    font-size: 4em;
}

/* Keyframes for traveling around the screen */
@keyframes travel-around {
    0% {
        top: 0;
        left: 0;
    }
    25% {
        top: 0;
        left: calc(100% - 100px);
    }
    50% {
        top: calc(100% - 50px);
        left: calc(100% - 100px);
    }
    75% {
        top: calc(100% - 50px); 
        left: 0;
    }
    100% {
        top: 0;
        left: 0;
    }
}
